*.log
*.obj
*.exe
*.lib
*.pdb
*.lastbuildstate
*.tlog
.vs
*.d
*.o
*.Lib
*.idb
obj/
*.FileBuildAbsolute.txt
*.tmp
*.ilk
*.iobj
imgui.ini
build*/
bin/

Sandbox/res/res.h
Sandbox/res/res.cpp
Watty-Core/res/res_watty.h
Watty-Core/res/res_watty.cpp
**_resource_cache.txt
Demos/res/res.h
Demos/res/res.cpp