
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb

[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/jacksonmakesgames/glfw/
	branch = jackson
[submodule "dependencies/SDL"]
	path = dependencies/SDL
	url = https://github.com/jacksonmakesgames/SDL-mirror
	branch = watty
[submodule "dependencies/box2d"]
	path = dependencies/box2d
	url = https://github.com/jacksonmakesgames/box2d
	branch = watty
[submodule "dependencies/soloud"]
	path = dependencies/soloud
	url = https://github.com/jacksonmakesgames/soloud
	branch = watty
[submodule "dependencies/box2d.js"]
	path = dependencies/box2d.js
	url = https://github.com/jacksonmakesgames/box2d.js
	branch = watty
[submodule "dependencies/emscripten"]
	path = dependencies/emscripten
	url = https://github.com/jacksonmakesgames/emsdk
	branch = watty
